@model BlogApplication.Models.Blog
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<h1 style="color:white">Edit Blog</h1>
<body style="background-color:#28282B;">
    <div class="container-md">
        <form asp-controller="Blogs" method="post" class="form-horizontal" role="form">
            <div class="mt-3">
                <label class="form-label" style="color:white">Blog Title</label>
                <input type="text" class="form-control" asp-for="Title" required />
            </div>
            <div class="mt-3">
                <label class="form-label" style="color:white">Auther Name</label>
                <input type="text" class="form-control" asp-for="AutherName" required />
            </div>
            <div class="mt-3">
                <label class="form-label" style="color:white">Publication Date</label>
                <input type="date" class="form-control" asp-for="PublicationDate" required />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Contents" style="color:white"></label>
                <div>
                    <textarea asp-for="Contents" class="form-control" id="summernote" required></textarea>
                    <span asp-validation-for="Contents" class="text-danger"></span>
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary" asp-controller="Blogs">Update</button>
            </div>
        </form>
    </div>
</body>
