@{
    var Student = ViewBag.ReadMore;
}

@model BlogApplication.Models.Blog
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .card {
        display: block;
        position: relative;
        max-width: 1900%;
        max-height: 300%;
        background-color: #f2f8f9;
        border-radius: 20px;
        padding: 2em 1.2em;
        margin: 12px;
        text-decoration: none;
        z-index: 0;
        overflow: hidden;
        background: linear-gradient(to bottom, #86bac3, #a7d1d9);
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<body style="background-color:#28282B;">
    <tbody>
        <tr>
            <div class="card">
                <p class="card-title">
                    @Student.Title
                </p>
                <p class="small-desc">
                    @Student.Contents
                </p>
                <P>
                    <span>
                        Auther Name: <B>@Student.AutherName </B>
                        Published Date:@Student.PublicationDate
                    </span>
                </P>
                <div class="go-corner">
                    <div class="go-arrow">→</div>
                </div>
            </div>
        </tr>
    </tbody>
</body>
