USE [master]
GO
/****** Object:  Database [Blog]    Script Date: 15-04-2024 21:48:39 ******/
CREATE DATABASE [Blog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SHUBHAM7\MSSQL\DATA\Blog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Blog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SHUBHAM7\MSSQL\DATA\Blog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Blog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Blog]
GO
/****** Object:  Table [dbo].[BlogDetails]    Script Date: 15-04-2024 21:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[AutherName] [nvarchar](100) NULL,
	[Contents] [nvarchar](2000) NULL,
	[PublicationDate] [datetime2](7) NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_BlogDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BlogDetails] ADD  CONSTRAINT [DF_BlogDetails_Comment]  DEFAULT ('') FOR [Comment]
GO
ALTER TABLE [dbo].[BlogDetails] ADD  CONSTRAINT [DF_BlogDetails_CreatedBy]  DEFAULT ('') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[BlogDetails] ADD  CONSTRAINT [DF_BlogDetails_UpdatedBy]  DEFAULT ('') FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[BlogDetails] ADD  CONSTRAINT [DF_BlogDetails_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
USE [master]
GO
